{% macro displayPitches(pitch_list) %}
    {% for pitch in pitch_list %}
        <div class="col-md-4 card">
            <div class="card-header">
                <h3>{{pitch.title}}</h3> 
            </div>
            <div class="card-body">
                <p>{{pitch.content}}</p>
            </div>
            <div class="card-footer">
                <div class="react">
                    <a href=""><img src="https://img.icons8.com/cotton/20/000000/thumb-up--v1.png"/></a>
                    <a href=""><img src="https://img.icons8.com/cotton/20/000000/thumbs-down--v4.png"/></a>
                </div>                
                <button type="submit" class="btn btn-info">Comment</button>
            </div>      
           
        </div>
    {% endfor %}
{% endmacro %}